@media (max-width: 768px) {
  .mainDisplay {
    display: flex;
    flex-direction: column;
  }
}
.inputDisplay {
  flex: 1;
  flex-basis: 50%;
  align-items: center;
}

.viewDisplay {
  flex: 2;
  flex-basis: 50%;
  align-items: center;
}

.mainDisplay {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.container {
  text-align: center;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Quattrocento Sans", sans-serif;
}
